// Variables

//BOOTSTRAP NOTES:
	// @media screen and (min-width: 0px) and (max-width: 576px) {}
	// BOOTSTRAP FONTS / SIZES:
	// let 1.0rem = 16px, then
	// 0=0, 1=0.25rem, 2=0.5rem, 3=1.0rem(unit), 4=1.5rem, 5=3.0rem

// FONTS & COLORS
$font-1: 'Montserrat', sans-serif;
$font-2: 'Lato', sans-serif;
$font-3: 'Comfortaa', cursive;
$Sam-Parker-Grey: #333333;
$Omar-Drk-Red: #6d0707;
$primary: white;
$secondary: black;
$tertiary: $Omar-Drk-Red;
$quaternary: #333333;
$quinary: #009900;
$senary: $Sam-Parker-Grey;
$septenary: $primary;
$octonary: $primary;
$nonary: $primary;
$denary: #ffffff;



$divider_width: 12.0rem;
$divider_height: 0.3333rem;

$face_width: 22.0rem; 
$project_item_width: 25.0rem; 

$padding_between_section: 5%;

// Override Bootstrap border variables
$border-width: 0.125rem;
$border-radius: 0.5rem;
$border-radius-lg: 0.75rem;
$border-radius-sm: 0.25rem;

// Override Bootstrap input/button variables
$input-btn-border-width: $border-width;

// Override Bootstrap modal variables
$modal-inner-padding: 4rem 1rem;
$modal-content-border-width: 0;
