//large screens (default)
#OmarNav {
	background-color: $secondary;
	padding: 1% 0 1% 0;
	font-family: $font-1;
	font-weight: 700;
	#navbar-logo {
		width: 150px;
		height: auto;
		color: $primary;
		&.grow:hover {
			filter: invert(87%) sepia(53%) saturate(4264%) hue-rotate(348deg) brightness(85%) contrast(107%);
		}
	}
	.navbar-toggler {
		font-size: 1.25rem;
		// padding: 3% 3% 3% 3%;
		background-color: white;
		border-radius: 0.5rem;
	}
	.navbar-nav {
		margin: 1.0rem 0 0 auto;
		li.nav-item {
			margin: 0 0 0 0;
			a.nav-link {
				padding: 1.25rem 1.25rem 1.25rem 1.25rem;
				font-size: 1.75rem;
				color: $primary;
				text-transform: uppercase;
				border-radius: 0.5rem;
				&:hover {
					color: $tertiary;
				}
			}
		}
	}
}

#footer {
	padding: 0 0 1% 0;
	background-color: $secondary;
	color: $primary;
	place-content: center;
	text-align: center;
	div {
		padding: 1% 0.0rem 1% 0.0rem;
	}
	h4 {
		text-transform: uppercase;
		padding: 3% 0 3% 0;
	}
	#footer-links-section {
		// Custom social buttons
		.btn-social {
			// display: block;

			align-items: center;
			background-color: darken($primary, 10%);
			border-radius: 50%;
			display: inline-flex;
			font-size: 2.5rem; //4=1.5rem;
			height: 75px; //5=3rem;
			justify-content: center;
			margin: 0.0rem 0.5rem 0.0rem 0.5rem;
			padding: 0.5rem 0.5rem 0.5rem 0.5rem;
			width: 75px; //5=3rem;
			border: 0.2rem solid $tertiary;
		}
	}
	#footer-copyright-section {
		background-color: $secondary;
		color: $tertiary;
		padding: 1% 0 1% 0;
		text-align: center;
		place-content: center;
		#copyright-text {
			color: $tertiary;
			font-size: 1.25rem;
			font-weight: 300;
		}
	}
}

//Small screens
@media screen and (min-width: 0px) and (max-width: 768px) {
	#OmarNav {
		transition: padding-top 0.3s, padding-bottom 0.3s;
		.navbar {
			background-color: $tertiary;
			text-transform: uppercase;
		}
		.navbar-toggler {
			font-size: 1.0rem;
		}
		#navbar-logo {
			width: 100px;
			height: auto;
		}
		.navbar-nav {
			margin: 0 0 0 0;
			li.nav-item {
				a.nav-link {
					// padding: 0 0 0 0;
					// margin: 0 0 0 0;
					// color: $primary;
					// background: $secondary;
					font-size: 1.0rem;
					text-align: center;
					// background: lighten($secondary, 30%);
				}
			}
		}
	}

	#footer {
		.btn-social {
			width: 50px; //5=3rem;
			height: 50px; //5=3rem;
			font-size: 1.5rem; //4=1.5rem;
		}
	}
}
