#about_column1 {
        margin-left:auto;
}

#about_column2 {
        margin-right:auto;
}

#resume-section {
        justify-content: center;
        padding: 3.0rem 0 3.0rem 0;
}

// #resume-button // in _buttons.scss

@media screen and (min-width: 0px) and (max-width: 768px) {
        #resume-section {
                justify-content: center;
                padding: 1.0rem 0 1.0rem 0;
        }
       

}