.masthead {
	padding-top: 12%;
	padding-bottom: $padding_between_section; 
	.masthead-heading {
		color: $secondary;
		font-size: $small_3;
		line-height: $small_2;
	}
	.masthead-subheading {
		font-size: $medium_1;
		padding-top: $padding_between_section;
		// padding-bottom: $padding_between_section; 
	}

	.masthead-avatar {
		border-radius: 100%;
		width: $face_width;
	}
}

@include media-breakpoint-up(lg) {
	.masthead {
		
		padding-bottom: $padding_between_section;
		.masthead-heading {
			color: $secondary;
			font-size: $large_3;
			line-height: $small_2;
		}
		.masthead-subheading {
			font-size: $medium_1;
			padding-top: $padding_between_section;
			// padding-bottom: $padding_between_section; 
		}
	}
}
