// Styling for the navbar
//large screens (default)
#OmarNav {
	background-color: $secondary;
	padding: 1% 0 1% 0;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	.navbar {
		background-color: $tertiary;
		text-transform: uppercase;
	}
	.navbar-brand {
		color: $primary;
		font-size: $size_00_unit;
		width: 150px;
	}
	.navbar-nav {
		margin-top: $size_00_unit;
		li.nav-item {
			margin-left: 0;
			margin-right: 0;
			a.nav-link {
				padding: $size_02_down $size_00_unit $size_02_down $size_00_unit;
				font-size: $subheading_small;
				color: $primary;
				text-transform: uppercase;
				&:hover {
					color: darken($primary, 20%);
				}
				&:active,
				&:focus {
					color: darken($primary, 40%);
				}
				&.active {
					color: darken($primary, 50%);
				}
			}
		}
	}
	.navbar-toggler {
		font-size: 1.25rem;
		padding: 3%;
		background-color: white; 
		border-radius: 0.5rem;
	}

}
//changes when viewed on small screens
@media screen and (min-width: 0px) and (max-width: 768px) {
	#OmarNav {
		transition: padding-top 0.3s, padding-bottom 0.3s;
		.logo{
			width: 100px;
		}
		.navbar-brand {
			font-size: $size_00_unit;
			transition: font-size 0.3s;
		}
		.navbar-nav {
			margin-top: $size_00_unit;
			li.nav-item > a.nav-link.active {
				padding: $size_00_unit $size_00_unit $size_00_unit $size_00_unit;
				margin-left: 0.25rem;
				margin-right: 0.25rem;
				color: $primary;
				background: $secondary;
				font-size: 1.0rem;
				&:active,
				&:focus,
				&:hover {
					background: lighten($secondary, 30%);
				}
			}
		}
		.navbar-toggler {
			font-size: 1.25rem;
		}
	}
	#OmarNav.navbar-shrink {
		padding-top: 1%;
		padding-bottom: 1%;
		.navbar-brand {
			font-size: $size_01_up;
		}
	}
}
