// Styling for the navbar
#mainNav {
	padding-top: 1%;
	padding-bottom: 1%;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	.navbar {
		background-color: $tertiary;
	}

	.navbar-brand {
		color: $primary;
	}
	.navbar-nav {
		margin-top: $small_2;
		li.nav-item {
			a.nav-link {
				font-size: $small_1;
				color: $primary;
				
				&:hover {
					color: darken($primary, 20%);
				}
				&:active,
				&:focus {
					color: darken($primary, 40%);
				}
				&.active {
					color: darken($primary, 50%);
				}
			}
		}
	}
	.navbar-toggler {
		font-size: 80%;
		padding: 1%;
	}
}
@include media-breakpoint-up(lg) {
	#mainNav {
		padding-top: 1%;
		padding-bottom: 1%;
		transition: padding-top 0.3s, padding-bottom 0.3s;
		.navbar-brand {
			font-size: $small_1;
			transition: font-size 0.3s;
		}
		.navbar-nav {
			margin-top: 0;
		}
		.navbar-nav > li.nav-item > a.nav-link.active {
			color: $primary;
			background: $secondary;
			&:active,
			&:focus,
			&:hover {
				background: lighten($secondary, 30%);
			}
		}
	}
	#mainNav.navbar-shrink {
		padding-top: 1%;
		padding-bottom: 1%;
		.navbar-brand {
			font-size: $small_1;
		}
	}
}
