// Styling for the portfolio grid section
.portfolio {
	margin-bottom: -30px;
	.portfolio-item {
		cursor: pointer;
		position: relative;
		display: block;
		max-width: $portfolio_item_width;
		margin-bottom: 30px;
		border-radius: $border-radius;
		overflow: hidden;
		.portfolio-item-caption {
			position: absolute;
			top: 0;
			left: 0;
			transition: $transition-base;
			opacity: 0;
			background-color: fade-out($primary, .1);
			&:hover {
				opacity: 1;
			}
			.portfolio-item-caption-content {
				font-size: $size_01_up;
			}
		}
	}
}
// Styling for the portfolio modals
.portfolio-modal {
	.portfolio-modal-title {
		font-size: $size_03_up;
		line-height: $size_00_unit;
	}
	.close {
		position: absolute;
		z-index: 1;
		right: $size_01_up;
		top: $size_00_unit;
		font-size: $size_04_up;
		line-height: $size_00_unit;
		color: $tertiary;
		opacity: 1;
	}
}

// changes for small screens
@media screen and (min-width: 0px) and (max-width: 768px) {
	.portfolio-modal {
		.portfolio-modal-title {
			font-size: $size_01_up;
			line-height: $size_00_unit;
		}}}