// Styling for the portfolio grid section
.portfolio {
	margin-bottom: -30px;
	.portfolio-item {
		cursor: pointer;
		position: relative;
		display: block;
		max-width: $portfolio_item_width;
		margin-bottom: 30px;
		border-radius: $border-radius;
		overflow: hidden;
		.portfolio-item-caption {
			position: absolute;
			top: 0;
			left: 0;
			transition: $transition-base;
			opacity: 0;
			background-color: fade-out($primary, .1);
			&:hover {
				opacity: 1;
			}
			.portfolio-item-caption-content {
				font-size: $small_1;
			}
		}
	}
}

// Styling for the portfolio modals
.portfolio-modal {
	.portfolio-modal-title {
		font-size: $large_3;
		line-height: $small_2;
		@include media-breakpoint-up(lg) {
			font-size: $large_2;
			line-height: $small_2;
		}
	}
	.close {
		position: absolute;
		z-index: 1;
		right: $small_1;
		top: $small_2;
		font-size: $large_2;
		line-height: $small_2;
		color: $tertiary;
		opacity: 1;
	}
}
