.profile-pic {
	padding-top: 12%;
	padding-bottom: $padding_between_section; 
	.profile-pic-heading {
		color: $secondary;
		font-size: $size_01_down;
		line-height: $size_00_unit;
	}
	.profile-pic-subheading {
		font-size: $size_02_up;
		padding-top: $padding_between_section;
		// padding-bottom: $padding_between_section; 
	}
	.profile-pic-avatar {
		border-radius: 100%;
		width: $face_width;
	}
}
@include media-breakpoint-up(lg) {
	.profile-pic {
		padding-bottom: $padding_between_section;
		.profile-pic-heading {
			color: $secondary;
			font-size: $size_03_up;
			line-height: $size_00_unit;
		}
		.profile-pic-subheading {
			font-size: $size_02_up;
			padding-top: $padding_between_section;
		}
	}
}