// large screens
#profile {
	align-content: center;
	align-items: center!important;
	text-align: center;
	background-color: $primary;
	#profile-picture {
		border-radius: 100%;
		width: 20rem;
		margin: -3.0rem 0 3.0rem 0;
		padding: 0 0 0 0;
	}
	#profile-heading {
		color: $secondary;
		font-size: $name_large;
		text-transform: uppercase;
	}
	.profile-job-title {
		color: $secondary;
		background-color: $primary;
		border: 0;
		border-radius: 0;
		font-size: 2.0rem;
		padding: 0 0.0rem 0 1.0rem;
	}
}

#job-title-row {
	margin: 5% 0 0 0;
}

.job-title-modal-title {
	text-transform: uppercase;
	// text-align: center;
	margin: 0 -1.0rem 0 auto;

}
.job-title-modal-body {
	text-align: left;
}


// changes for small screens
@media screen and (min-width: 0px) and (max-width: 768px) {
	#profile {
		#profile-picture {
			padding: 1% 0 6% 0;
			margin: 0 0 0 0;
			width: 15rem;
		}
		#profile-heading {
			font-size: 2.0rem;
		}
		.profile-job-title {
			font-size: 1.5rem;
			margin: 0 0 0 0;
		}
	}
}