// large screens
#profile-pic {
	align-content: center;
	align-items: center!important;
	text-align: center;
	background-color: $primary;
	.profile-pic-heading {
		color: $secondary;
		font-size: $name_large;
		line-height: $size_00_unit;
		text-transform: uppercase;
	}
	.profile-pic-subheading {
		font-size: $size_02_up;
		padding: 0 1rem 0 1rem;
	}
	.profile-pic-avatar {
		border-radius: 100%;
		width: 20rem;
		margin-bottom: 3rem;
		padding-top: 0rem;
	}
}
// changes for small screens
@media screen and (min-width: 0px) and (max-width: 768px) {
	#profile-pic {
		.profile-pic-heading {
			font-size: $name_small;
			line-height: $name_small + 0.25rem;
		}
		.profile-pic-subheading {
			font-size: $subheading_small;
			margin-bottom: 0rem;
		}
		.profile-pic-avatar {
			width: 15rem;
		}
	}
}