.btn {
	color: $tertiary;
	background-color: darken($primary, 10%);
	border: 1px;
	border-radius: 10%;
}

// Custom extra large button size0
.btn-xl {
	padding: $small_2 $small_1;
	font-size: $small_1;
}

// Custom social buttons
.btn-social {
	border-radius: 100%;
	display: inline-flex;
	width: $large_2;
	height: $large_2;
	font-size: $small_1;
	justify-content: center;
	align-items: center;
}

// Scroll to top button
.scroll-to-top {
	z-index: 1042;
	right: $small_2;
	bottom: $small_2;
	display: none;
	a {
		width: $large_1;
		height: $large_1;
		background-color: fade-out($gray-900, 0.5);
		line-height: $small_2;
	}
}
