.btn {
	color: $tertiary;
	background-color: darken($primary, 10%);
	border: 1px;
	border-radius: 10%;
}
// Custom extra large button
.btn-xl {
	padding: $size_00_unit $size_01_up;
	font-size: $size_01_up;
}
// Custom social buttons
.btn-social {
	border-radius: 100%;
	display: inline-flex;
	width: $size_04_up;
	height: $size_04_up;
	font-size: $size_01_up;
	justify-content: center;
	align-items: center;
}
// Scroll to top button
.scroll-to-top {
	z-index: 1042;
	right: $size_00_unit;
	bottom: $size_00_unit;
	display: none;
	a {
		width: $size_05_up;
		height: $size_05_up;
		background-color: fade-out($gray-900, 0.5);
		line-height: $size_00_unit;
	}
}
