// Custom divider with icon
.divider-custom {
	margin: 1.5rem 0.0rem 1.5rem 0.0rem;
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	.divider-custom-line {
		width: 100%;
		max-width: $divider_width;
		height: $divider_height;
		background-color: $secondary;
		border-radius: 1.0rem;
		border-color: $secondary !important;
		&:first-child {
			margin: 0 1.0rem 0 0;
		}
		&:last-child {
			margin: 0 0 0 1.0rem;
		}
	}
	.divider-custom-icon {
		color: $tertiary;
		font-size: 2.0rem;
	}
	&.divider-light {
		.divider-custom-line {
			background-color: $secondary;
		}
		.divider-custom-icon {
			color: $tertiary;
		}
	}
}
@media screen and (min-width: 0px) and (max-width: 768px) {
	.divider-custom {
		.divider-custom-line {
			max-width: 10rem;
			max-height: 0.25rem;
		}
		.divider-custom-icon {
			font-size: 1.5rem;
		}
	}
}