// Custom divider with icon
.divider-custom {
	margin: $small_1 0 $small_1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.divider-custom-line {
		width: 100%;
		max-width: $divider_width;
		height: $divider_height;
		background-color: $secondary;
		border-radius: $small_2;
		border-color: $secondary !important;
		&:first-child {
			margin-right: $small_2;
		}
		&:last-child {
			margin-left: $small_2;
		}
	}

	.divider-custom-icon {
		color: $tertiary !important;
		font-size: $medium_1;
	}
	&.divider-light {
		.divider-custom-line {
			background-color: $secondary;
		}
		.divider-custom-icon {
			color: $tertiary !important;
		}
	}
}
