// Custom divider with icon
.divider-custom {
	margin: $size_01_up 0 $size_01_up;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.divider-custom-line {
		width: 100%;
		max-width: $divider_width;
		height: $divider_height;
		background-color: $secondary;
		border-radius: $size_00_unit;
		border-color: $secondary !important;
		&:first-child {
			margin-right: $size_00_unit;
		}
		&:last-child {
			margin-left: $size_00_unit;
		}
	}
	.divider-custom-icon {
		color: $tertiary !important;
		font-size: $size_02_up;
	}
	&.divider-light {
		.divider-custom-line {
			background-color: $secondary;
		}
		.divider-custom-icon {
			color: $tertiary !important;
		}
	}
}
@media screen and (min-width: 0px) and (max-width: 768px) {
	.divider-custom {
		.divider-custom-line {
			max-width: 10rem;
			max-height: 0.25rem;
		}
		.divider-custom-icon {
			font-size: $size_01_up;
		}
	}
}