// Styling for page sections
.page-section {
	padding: $padding_between_section 0;
	.page-section-heading {
		font-size: $medium_1;
		line-height: $small_2;
	}
	@include media-breakpoint-up(lg) {
		.page-section-heading {
			font-size: $large_3;
			line-height: $small_2;
		}
	}
}
