// Styling for page sections
.page-section {
	background-color: $primary; 
	color: $secondary; 
	padding: $padding_between_section 0 0 0;
	.page-section-heading {
		font-size: $heading_large;
		line-height: $size_00_unit;
		text-align: center; 
		text-transform: uppercase;
	}
}
@media screen and (min-width: 0px) and (max-width: 768px) {
	.page-section-heading {
		font-size: $heading_small;
		line-height: $heading_small + 1rem;
	}
}