// Variables

//BOOTSTRAP NOTES:
	// Class FORMAT:
	// 	{property}{sides}-{size} for xs breakpoint & 
	// 	{property}{sides}-{breakpoint}-{size} for other breakpoints

	// BreakPoints: 
	// 	xs (<=576px), 
	// 	sm (>=576px), 
	// 	md (>=768px), 
	// 	lg (>=992px), 
	// 	xl (>=1200px))

	// Property:
	// 	m - sets margin
	// 	p - sets padding
	// Sides:
	// 	t - sets margin-top or padding-top
	// 	b - sets margin-bottom or padding-bottom
	// 	l - sets margin-left or padding-left
	// 	r - sets margin-right or padding-right
	// 	x - sets both padding-left and padding-right or margin-left and margin-right
	// 	y - sets both padding-top and padding-bottom or margin-top and margin-bottom
	// 	blank - sets a margin or padding on all 4 sides of the element
	// 	0 - sets margin or padding to 0
	// 	1 - sets margin or padding to .25rem (4px if font-size is 16px)
	// 	2 - sets margin or padding to .5rem (8px if font-size is 16px)
	// 	3 - sets margin or padding to 1rem (16px if font-size is 16px)
	// 	4 - sets margin or padding to 1.5rem (24px if font-size is 16px)
	// 	5 - sets margin or padding to 3rem (48px if font-size is 16px)
	// 	auto - sets margin to auto
// –––––––––––––– CSS MEDIA SELECTORS –––––––––––––––––––––––––-
// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}


// Set custom colors
$dark-grey: #273b50 !default;
$UT-orange: #bf5700;
$UT-dk-blue: #333f48;
$Sam-Parker-Grey:#333333;
$Omar-Drk-Red:#6d0707;

// CUSTOM FONT SIZE;
// $sz5: 1rem;
$size_05_up: 3.5rem;
$size_04_up: 3.0rem;
$size_03_up: 2.5rem;
$size_02_up: 2.0rem;
$size_01_up: 1.5rem;
$size_00_unit: 1.0rem;
$size_01_down: 0.5rem;
$size_02_down: 0.25rem;

$name_large: 3.0rem;
$name_small: 2.75rem; 

$heading_large: 2.5rem;
$heading_small: 2.25rem;

$subheading_large: 2.0rem;
$subheading_small: 1.75rem;

$text_large: 1.25rem;
$text_small: .75rem;

$divider_width: 12.0rem;
$divider_height: 0.3333rem;

$face_width: 22.0rem; 
$portfolio_item_width: 25.0rem; 

$padding_between_section: 5%;




// Override Bootstrap primary and secondary colors
$primary: white !default;
$secondary: black !default;
$tertiary: $Omar-Drk-Red;
$quaternary: #333333;
$quinary: #009900;

//  quinary, senary, septenary, octonary, nonary, and denary

// Override Bootstrap font variables
$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
	"Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$headings-font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
	"Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$headings-font-weight: 700 !default;

// Override Bootstrap border variables
$border-width: 0.125rem !default;
$border-radius: 0.5rem !default;
$border-radius-lg: 0.75rem !default;
$border-radius-sm: 0.25rem !default;

// Override Bootstrap input/button variables
$input-btn-border-width: $border-width !default;

// Override Bootstrap modal variables
$modal-inner-padding: 4rem 1rem !default;
$modal-content-border-width: 0 !default;
