@import 'colors_and_fonts.scss';
@import 'variables_and_components.scss';
@import 'certifications';
@import 'bootstrap/scss/bootstrap.scss';
// @import 'style.scss';
@import 'navbar_and_footer.scss'; //Navbar / Logo / Menu

:root {
	//variables to use throughout; 
	--imageheight: 475px;
	--imagewidth: 475px;
}

// large screens
#profile-section {
	align-content: center;
	align-items: center !important;
	text-align: center;
	background-color: $brand-40;

	#profile-picture {
		border-radius: 100%;
		// border: 0.05rem solid $tertiary;
		width: 17rem;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}

	#profile-heading {
		color: $secondary;
		font-size: 3.0rem;
		text-transform: uppercase;
		padding: 0 0 0 0;
		margin: 1% 0 0 0;
		font-weight: 800;
	}

	#job-title-section {
		margin: 0 0 0 0;
		justify-content: center;

		.profile-job-button {
			font-size: 1.33rem;
			font-weight: 700;
			padding: 0 00 0 00;
			margin: 0 0 0 1%;
			border-radius: 50px;
			display: flex;
		}
	}

	.modal {
		padding: 0 0 0 0 !important;

		button.close {
			position: absolute;
			z-index: 1;
			right: 1.5rem;
			top: 1.0rem;
			font-size: 24px;
			font-weight: bold;
			opacity: 0.75;
			transition: opacity 0.3s ease;
		}

		button.close:hover {
			opacity: 100%;
		}

		.modal-content {
			// margin: 0 0 0 0;
			background-color: $brand-40;
			// border: 8px dot $brand-0;
			padding: 40px;
			box-shadow: 15px 15px 15px $brand-0; //BOTTOM RIGHT BLURRINESS COLOR?
			margin: 20px auto;
			width: 75%;

			.modal-header {
				margin: auto;
				padding: 10px 0 0 0;
				border-top: 7px solid $brand-0;

				// font-size: x-large;
				.modal-title {
					justify-content: center;
					padding: 5% 0 0 0;
					font-size: 30px;
					font-weight: bold;
					text-transform: uppercase;
					margin: 0 0 10px 0;
					// color: black;
				}
			}

			.modal-body {
				text-align: justify;
				margin: 0 0 20px 0;

				p {
					font-size: 24px;
					// margin: 0 0 5% 0;
					color: rgb(0, 0, 0);
					text-justify: auto;
				}

				.modal-skills {
					text-align: center;

					h3 {
						font-size: 22px;
						font-weight: bold;
					}

					ul {
						list-style-type: disc;
						padding: 0 0 0 20px;
						font-size: 20px;
						list-style-type: none;
					}
				}
			}

			.modal-footer {
				padding: 10px 0 0 0;
				border-top: 7px solid $brand-0;
				// text-align: right;
			}

			.modal-image {
				border-radius: 0.5rem;
				max-width: 375px;
				height: auto;
				// margin: 0 0 5% 0;
			}
		}
	}
}

#about-section {
	.about-content {
		display: flex;
		flex-wrap: wrap;

		.about-column {
			margin: 0 20px 0 0;
			flex-basis: calc(50% - 20px);
			word-spacing: normal;
			width: 100%;

			.about-p-text {
				// display: flex;
				// justify-content: column;
				font-size: 24px;
				font-weight: 300;
				font-family: $font-6;
				text-align: justify;
				line-height: 1.5;
				padding: 10px 20px 10px 20px;
				margin: 0 20px 0 0;
			}
		}
	}

	#resume-section {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1% 0 0 0;

		#resume-button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px 20px;
			border-radius: 0.5rem;
			background-color: $primary;
			color: $white;

			.btn-link {
				color: $brand-0;
				text-decoration: none;
				font-weight: bold;
			}

			cursor: pointer;

			#resume-pdf-icon {
				margin: 0 0.5rem 0 0; //right to separate w/ text
			}
		}
	}
}

#contact-section {
	// padding: 1% 1% 1% 1%;
	padding: 10px;
	margin: 1% 1% 1% 1%; //trbl

	#contact-form {
		background-color: darken($primary, 5%);
		border: 0.15rem solid $tertiary;
		border-radius: 0.5rem;
		margin: 1% 0 0 0;
		padding: 10px;

		.contact-form-element {
			padding: 10px;
			font-size: large;
			border-radius: 0.5rem;
			border: 0.15rem solid $tertiary;
		}

		#contact-form-message {
			padding: 10px;
			font-size: large;
			height: 120px;
			border-radius: 0.5rem;
			border: 0.15rem solid $tertiary;
			// text-align: center;
		}

		#contact-send-button {
			display: block;
			margin: 0 auto;
			justify-content: center;
			align-items: center;
			background-color: darken($primary, 15%);
			cursor: pointer;
			// padding: 10px;
			width: 15%;
		}
	}

}

#thanks-section {
	font-size: 2.0rem;
	padding: 2% 0 2% 0;

	#thanks-header {
		padding: 2% 0 2% 0 !important;
	}

	#thanks_column {
		justify-content: center;
	}

	p {
		font-size: 1.75rem;
	}

	#resume-section-thanks {
		justify-content: center;
		padding: 1.0rem 0 1.0rem 0;
	}
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	#profile-section {
		#profile-picture {
			padding: 1% 0 1% 0;
			margin: 0 0 0 0;
			width: 10rem;
		}

		#profile-heading {
			font-size: 2.0rem;
		}

		.profile-job-button {
			font-size: 1.5rem;
			margin: 2% 1% 2% 1% !important;
		}

		#job-title-section {
			.modal-content {
				padding: 1%;
				.btn {
					font-size: 12px;
					margin: 2% 0 0 0;
				}
				.modal-body {
					p {
						font-size: 12px;
					}

					.modal-skills {
						li {
							font-size: 14px;
						}
					}
				}

				.modal-header {
					.modal-title {
						font-size: 16px;
					}
				}


			}
		}
	}

	#about-section {
		.about-content {
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			max-height: 60vh;

			.about-column {
				.about-p-text {
					font-size: 16px;
					margin: auto;
					padding: 0%;
				}
			}
		}


		#resume-section {
			justify-content: center;
			padding: 1.0rem 0 1.0rem 0;

			#resume-button {
				border: 0.15rem solid $tertiary;
				margin: 0 0 0 0;
				padding: 0 0 0 0;
				font-size: 1.0rem;
			}
		}
	}


	#job-title-section {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		justify-content: space-around;

		.row {
			flex-direction: column;
		}

		.profile-job-button {
			font-size: 1rem;
			font-weight: 700;
			padding: 0 0 20px 00;
			margin: 0 0 20px 1%;
			border-radius: 0.5rem;
			display: flex;
		}
	}

	.btn.btn-lg {
		font-size: 11px;
		padding: 8px 15px;
		margin: 5px auto;
		width: 80%;
	}

	#contact-section {
		display: none;
	}
}