@import 'variables_and_components.scss';
@import 'bootstrap/scss/bootstrap.scss';
// @import 'style.scss';
@import 'navbar_and_footer.scss'; //Navbar / Logo / Menu
.modal-content {
	border: $tertiary 3px solid;
}
// large screens
#profile-section {
	align-content: center;
	align-items: center !important;
	text-align: center;
	background-color: $primary;
	#profile-picture {
		border-radius: 100%;
		// border: 0.05rem solid $tertiary;
		width: 13rem;
		margin: 0 0 2.0rem 0;
		padding: 0 0 0 0;
	}
	#profile-heading {
		color: $secondary;
		font-size: 3.0rem;
		text-transform: uppercase;
		padding: 0 0 0 0;
		margin: 0;
		font-weight: 700;
	}
	#job-title-section {
		margin: 2% 0 0 0;
		justify-content: center;
		.profile-job-button {
			font-size: 1.33rem;
			font-weight: 700;
			padding: 1% 0.0 1% 0.0;
			margin: 0 1% 0 1%;
			border-radius: 0.5rem;
			display: flex;
		}
	}
	.job-title-modal-title {
		text-transform: uppercase;
		// text-align: center;
		margin: 0 -1.0rem 0 auto;
	}
	.job-title-modal-body {
		text-align: left;
	}
}

#about-section {
	.row {
		padding: 2% 0 0 0;
	}
	#about_column1 {
		margin-left: auto;
	}
	#about_column2 {
		margin-right: auto;
	}
	.about-p-text {
		font-size: 1.25rem;
		font-weight: 300;
		font-family: $font-6;
		text-align: justify;
		line-height: 1.5;
		// text-indent: 5.0rem;
	}
	#resume-section {
		justify-content: center;
		padding: 1% 0 1% 0;
		#resume-button {
			font-weight: bold;
			font-size: 1.33rem;
			padding: 1% 1% 1% 1%;
			margin: 0;
			border-radius: 0.5rem;
			display: flex;
			#resume-pdf-icon {
				margin: 0 0.5rem 0 0;
			}
		}
	}
}

#project-section {
	margin: 0 0 0 0; //-30px
	padding: 0 20% 0 20%;
	a.external-link {
		color: $tertiary;
	}
	#project-grid {
		justify-content: center;
		flex: wrap;
	}
	.project-item {
		text-align: center;
		cursor: pointer;
		position: relative;
		display: block;
		max-width: $project_item_width;
		margin: auto auto auto auto;
		padding: 1% 5% 1% 5%;
		border-radius: 0.5rem;
		// overflow: hidden;
		align-content: center;
		.project-item-content {
			// text-align: center !important;
			border: 0.20rem solid $tertiary;
			border-radius: 0.5rem;
			align-items: center;
			justify-content: center;
			height: 300px;
			width: 300px;
			display: flex;
			position: absolute;
			top: 0;
			left: 0%;
			bottom: 0%;
			transition: $transition-base;
			opacity: 0;
			background-color: fade-out($primary, .1);
			&:hover {
				opacity: 1;
			}
			.project-item-content-info {
				text-align: center;
				font-size: 1.25rem;
				// border: 0.20rem solid $tertiary;
				// padding: 2.0rem;
				p {
					font-weight: 700;
				}
			}
		}
		.project-item-title {
			text-align: center;
			color: $secondary;
			font-weight: 700;
			text-transform: uppercase;
		}
		.project-image {
			border-radius: 0.5rem;
			max-width: 250px;
			height: 250px;
			margin: 0 0 0 0;
		}
	}
	.project-modal {
		padding: 0 !important;
		margin: 0;
		button.close {
			position: absolute;
			z-index: 1;
			right: 1.5rem;
			top: 1.0rem;
			font-size: 1.0rem;
			color: $tertiary;
			opacity: 1;
		}
		.project-modal-body {
			text-align: center;
			.project-modal-title {
				padding: 5% 0 0 0;
				font-size: 2.0rem;
				font-weight: 700;
				text-transform: uppercase;
				color: black;
				margin: 0 0 0 0;
			}
			.project-modal-image {
				border-radius: 0.5rem;
				max-width: 375px;
				height: auto;
				margin: 0 0 5% 0;
			}
			p {
				// font-size: 1.15rem;
				// margin: 0 0 5% 0;
				// color: blue;
			}
		}
	}
}

#contact-section {
	// padding: 0 0.0rem 2% 0.0rem;
	display: flex;
	#contact-form {
		background-color: darken($primary, 5%);
		border: 0.15rem solid $tertiary;
		border-radius: 0.5rem;
		margin: 1% auto 1% auto;
		.contact-form-element {
			border-radius: 0.5rem;
			margin: 0.5rem 0.0rem 0.5rem 0.0rem;
			padding: 0.25rem 0.0rem 0.25rem 1.0rem;
			border: 0.15rem solid $tertiary;
		}
		#contact-form-message {
			border-radius: 0.5rem;
			margin: 0.5rem 0.0rem 0.5rem 0.0rem;
			padding: 1.5rem 0.0rem 1.5rem 1.0rem;
			border: 0.15rem solid $tertiary;
			#contact-send-button {
				// display: inline-flex;
				justify-content: center;
				align-items: center;
				background-color: darken($primary, 15%);
				margin: 1.0rem 0 1.0rem 0;
				padding: 0 0.25rem 0 0.25rem;
			}
		}
	}
}

#thanks-section {
	font-size: 2.0rem;
	padding: 2% 0 2% 0;
	#thanks-header {
		padding: 2% 0 2% 0 !important;
	}
	#thanks_column {
		justify-content: center;
	}
	p {
		font-size: 1.75rem;
	}
	#resume-section-thanks {
		justify-content: center;
		padding: 1.0rem 0 1.0rem 0;
		#resume-button {
			font-size: 1.15rem;
			margin: 0 1% 0 1%;
			border-radius: 0.5rem;
			#resume-pdf-icon {
				margin: 0 0.5rem 0 0;
			}
		}
	}
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	#profile-section {
		#profile-picture {
			padding: 1% 0 6% 0;
			margin: 0 0 0 0;
			width: 10rem;
		}
		#profile-heading {
			font-size: 2.0rem;
		}
		.profile-job-button {
			font-size: 1.5rem;
			margin: 2% 1% 2% 1% !important;
		}
	}

	#about-section {
		#resume-section {
			justify-content: center;
			padding: 1.0rem 0 1.0rem 0;
			#resume-button {
				border: 0.15rem solid $tertiary;
				margin: 0.25rem 0.25rem 0.25rem 0.25rem;
				padding: 0.5rem 0.5rem 0.5rem 0.5rem;
				font-size: 1.0rem;
			}
		}
	}
	#project-section {
		#project-grid {
			padding: 0;
			margin: 0 !important;
		.project-item {
			max-width: 10rem;
			padding: 0 0 0.0rem 0;
			.project-item-content {
				visibility: hidden;
			}
			.project-item-title {
				font-size: 1.0rem;
			}
			.project-image {
				max-width: 100%;
				padding: 0;
				margin: 0;
				height: 150px;
				width: 150px;
			}
		}
	}
		.project-modal {
			.project-modal-body {
				font-size: 1.0rem;
				.project-modal-title {
					font-size: 1.0rem !important;
					text-transform: uppercase;
					color: black;
					margin: 0 0 0 0;
					padding: 5% 0 0 0 !important;
				}
				img.project-modal-image {
					max-width: 150px;
					height: auto;
					padding: 0;
					margin: 1% 0 1% 0 !important;
				}
				p {
					font-size: 1.15rem;
					margin: 0 0 5% 0;
				}
			}
		}
	}
}
